<!DOCTYPE html>
<html>
   
<head>
    <title>Contract Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fiidiidata.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
        crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="rangeoidata">Range_OI_Data</a>
            <a href="fulloidata">Full_OI_Data</a>
              <a href="#">About</a>
              <a href="#">Contact</a>
              <a href="#">Help</a>
        </nav>
    </header>
    <div>
        <form action="/" method="post" style="float: right; margin-right: 33px;">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </div> 
    <div style="text-align: center; margin-top: 33px;">
        <h1>Daily FII DII Data</h1>
    </div>
    <div>
        <h2 class="client">Client</h2>
        <h2 class="fii">FII</h2>
    </div>
    <div class="table-container">
        <table id="myTable">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Future Index Long</th>
                    <th>Future Index Short</th>
                    <th>Future Long - Short</th>
                    <th>FROC</th>
                    <th>Future Trend</th>
                    <th>Option Index Call Long</th>
                    <th>Option Index Call Short</th>
                    <th>Call Long - Short</th>
                    <th>Call ROC</th>
                    <th>CE Activity</th>
                    <th>Option Index Put Long</th>
                    <th>Option Index Put Short</th>
                    <th>Put Long - Short</th>
                    <th>Put ROC</th>
                    <th>PE Activity</th>
                </tr>
            </thead>
            <tbody>
                {% for row in df_client.iterrows() %}
                <tr>
                    <td>{{ row[1]['Date'] }}</td>
                    <td>{{ row[1]['Future Index Long'] }}</td>
                    <td>{{ row[1]['Future Index Short'] }}</td>
                    <td>{{ row[1]['Future Long - Short'] }}</td>
                    <td>{{ row[1]['FROC'] }}</td>
                    <td style="background-color: {% if row[1]['Future Trend'] == 'Bullish' %}#B0E4C4{% else %}#FEB6B6{% endif %}">
                        {{ row[1]['Future Trend'] }}
                    </td>
                    <td>{{ row[1]['Option Index Call Long'] }}</td>
                    <td>{{ row[1]['Option Index Call Short'] }}</td>
                    <td>{{ row[1]['Call Long - Short'] }}</td>
                    <td>{{ row[1]['Call ROC'] }}</td>
                    <td style="background-color: {% if row[1]['CE Activity'] == 'Bought-Calls-Bullish' %}#B0E4C4{% else %}#FEB6B6{% endif %}">
                        {{ row[1]['CE Activity'] }}
                    </td>
                    <td>{{ row[1]['Option Index Put Long'] }}</td>
                    <td>{{ row[1]['Option Index Put Short'] }}</td>
                    <td>{{ row[1]['Put Long - Short'] }}</td>
                    <td>{{ row[1]['Put ROC'] }}</td>
                    <td style="background-color: {% if row[1]['PE Activity'] == 'Sold-Puts-Bullish' %}#B0E4C4{% else %}#FEB6B6{% endif %}">
                        {{ row[1]['PE Activity'] }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table id="myTable">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Future Index Long</th>
                    <th>Future Index Short</th>
                    <th>Future Long - Short</th>
                    <th>FROC</th>
                    <th>Future Trend</th>
                    <th>Option Index Call Long</th>
                    <th>Option Index Call Short</th>
                    <th>Call Long - Short</th>
                    <th>Call ROC</th>
                    <th>CE Activity</th>
                    <th>Option Index Put Long</th>
                    <th>Option Index Put Short</th>
                    <th>Put Long - Short</th>
                    <th>Put ROC</th>
                    <th>PE Activity</th>
                </tr>
            </thead>
            <tbody>
                {% for row in df_fii.iterrows() %}
                <tr>
                    <td>{{ row[1]['Date'] }}</td>
                    <td>{{ row[1]['Future Index Long'] }}</td>
                    <td>{{ row[1]['Future Index Short'] }}</td>
                    <td>{{ row[1]['Future Long - Short'] }}</td>
                    <td>{{ row[1]['FROC'] }}</td>
                    <td style="background-color: {% if row[1]['Future Trend'] == 'Bullish' %}#B0E4C4{% else %}#FEB6B6{% endif %}">
                        {{ row[1]['Future Trend'] }}
                    </td>
                    <td>{{ row[1]['Option Index Call Long'] }}</td>
                    <td>{{ row[1]['Option Index Call Short'] }}</td>
                    <td>{{ row[1]['Call Long - Short'] }}</td>
                    <td>{{ row[1]['Call ROC'] }}</td>
                    <td style="background-color: {% if row[1]['CE Activity'] == 'Bought-Calls-Bullish' %}#B0E4C4{% else %}#FEB6B6{% endif %}">
                        {{ row[1]['CE Activity'] }}
                    </td>
                    <td>{{ row[1]['Option Index Put Long'] }}</td>
                    <td>{{ row[1]['Option Index Put Short'] }}</td>
                    <td>{{ row[1]['Put Long - Short'] }}</td>
                    <td>{{ row[1]['Put ROC'] }}</td>
                    <td style="background-color: {% if row[1]['PE Activity'] == 'Sold-Puts-Bullish' %}#B0E4C4{% else %}#FEB6B6{% endif %}">
                        {{ row[1]['PE Activity'] }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <h2 class="dii">DII</h2>
        <h2 class="pro">PRO</h2>
    </div>
    <div class="table-container">
        <table id="myTable">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Future Index Long</th>
                    <th>Future Index Short</th>
                    <th>Future Long - Short</th>
                    <th>FROC</th>
                    <th>Future Trend</th>
                    <th>Option Index Call Long</th>
                    <th>Option Index Call Short</th>
                    <th>Call Long - Short</th>
                    <th>Call ROC</th>
                    <th>CE Activity</th>
                    <th>Option Index Put Long</th>
                    <th>Option Index Put Short</th>
                    <th>Put Long - Short</th>
                    <th>Put ROC</th>
                    <th>PE Activity</th>
                </tr>
            </thead>
            <tbody>
                {% for row in df_dii.iterrows() %}
                <tr>
                    <td>{{ row[1]['Date'] }}</td>
                    <td>{{ row[1]['Future Index Long'] }}</td>
                    <td>{{ row[1]['Future Index Short'] }}</td>
                    <td>{{ row[1]['Future Long - Short'] }}</td>
                    <td>{{ row[1]['FROC'] }}</td>
                    <td style="background-color: {% if row[1]['Future Trend'] == 'Bullish' %}#B0E4C4{% else %}#FEB6B6{% endif %}">
                        {{ row[1]['Future Trend'] }}
                    </td>
                    <td>{{ row[1]['Option Index Call Long'] }}</td>
                    <td>{{ row[1]['Option Index Call Short'] }}</td>
                    <td>{{ row[1]['Call Long - Short'] }}</td>
                    <td>{{ row[1]['Call ROC'] }}</td>
                    <td style="background-color: {% if row[1]['CE Activity'] == 'Bought-Calls-Bullish' %}#B0E4C4{% else %}#FEB6B6{% endif %}">
                        {{ row[1]['CE Activity'] }}
                    </td>
                    <td>{{ row[1]['Option Index Put Long'] }}</td>
                    <td>{{ row[1]['Option Index Put Short'] }}</td>
                    <td>{{ row[1]['Put Long - Short'] }}</td>
                    <td>{{ row[1]['Put ROC'] }}</td>
                    <td style="background-color: {% if row[1]['PE Activity'] == 'Sold-Puts-Bullish' %}#B0E4C4{% else %}#FEB6B6{% endif %}">
                        {{ row[1]['PE Activity'] }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table id="myTable">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Future Index Long</th>
                    <th>Future Index Short</th>
                    <th>Future Long - Short</th>
                    <th>FROC</th>
                    <th>Future Trend</th>
                    <th>Option Index Call Long</th>
                    <th>Option Index Call Short</th>
                    <th>Call Long - Short</th>
                    <th>Call ROC</th>
                    <th>CE Activity</th>
                    <th>Option Index Put Long</th>
                    <th>Option Index Put Short</th>
                    <th>Put Long - Short</th>
                    <th>Put ROC</th>
                    <th>PE Activity</th>
                </tr>
            </thead>
            <tbody>
                {% for row in df_pro.iterrows() %}
                <tr>
                    <td>{{ row[1]['Date'] }}</td>
                    <td>{{ row[1]['Future Index Long'] }}</td>
                    <td>{{ row[1]['Future Index Short'] }}</td>
                    <td>{{ row[1]['Future Long - Short'] }}</td>
                    <td>{{ row[1]['FROC'] }}</td>
                    <td style="background-color: {% if row[1]['Future Trend'] == 'Bullish' %}#B0E4C4{% else %}#FEB6B6{% endif %}">
                        {{ row[1]['Future Trend'] }}
                    </td>
                    <td>{{ row[1]['Option Index Call Long'] }}</td>
                    <td>{{ row[1]['Option Index Call Short'] }}</td>
                    <td>{{ row[1]['Call Long - Short'] }}</td>
                    <td>{{ row[1]['Call ROC'] }}</td>
                    <td style="background-color: {% if row[1]['CE Activity'] == 'Bought-Calls-Bullish' %}#B0E4C4{% else %}#FEB6B6{% endif %}">
                        {{ row[1]['CE Activity'] }}
                    </td>
                    <td>{{ row[1]['Option Index Put Long'] }}</td>
                    <td>{{ row[1]['Option Index Put Short'] }}</td>
                    <td>{{ row[1]['Put Long - Short'] }}</td>
                    <td>{{ row[1]['Put ROC'] }}</td>
                    <td style="background-color: {% if row[1]['PE Activity'] == 'Sold-Puts-Bullish' %}#B0E4C4{% else %}#FEB6B6{% endif %}">
                        {{ row[1]['PE Activity'] }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<footer>
    <div class="center">
        <p>Developed by <a href="www.gauravsuryawanshi.com" target="_blank">Gaurav Suryawanshi</a></p>
        Copyright &copy; www.gauravsuryawanshi.com All Right reserved
    </div>
</footer>
</html>